*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
color: aliceblue;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.container{
     position: relative;
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
background-color: rgba(239, 233, 233, 0.5);
border:2px solid rgba(255,255, 255,0.25);
display: flex;
justify-content: center;
align-items: center;

}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
     /* use 30 deg for 360/12  */
    inset: 12px; 
    /* to set in round box */
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: 20px;

}
.clock::before{
    content:'';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color:var(--clr);
    width:var(--w);
    height: var(--h);
    border-radius: 8px;
}
